*{
	margin: 0;
	padding: 0;

}

h2{
	font-family: Impact, Charcoal, sans-serif;
	color: black; 
}
a{
	text-decoration: none;
}
body{
	height: 100%;
   background: linear-gradient(to bottom, #fff099, #fff4b3 100%) fixed;
}
.item{
	height: 250px;
}
.carousel-inner > .item > img {
  width:1500px;
  height:360px;
}
#myList{
	margin-top: 30px;
}
.upLd{
	margin-top: 20px;

}
#choose{
	margin-top: 20px;
}

.form-group{
	width: 300px;
}
#myInput{
	width: 300px;
}
